@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bold-text: #202020;
	--para-text: #454545;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* scroll-behavior: smooth; */
}

/* -----------custom scroll bar----------- */

::-webkit-scrollbar {
	width: 0.575rem;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(25px);
	/* #ff9279 */
}

::-webkit-scrollbar-thumb {
	background: #5c5c5c;
}

/* #f0f2f5 */

body,
html {
	background-color: #f0f0f0;
	overflow-x: hidden;
}
body {
	padding-top: 50px;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

p {
	font-weight: 400;
	font-style: normal;
	line-height: 1.55;
}

h1 {
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-size: 32px;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	color: var(--bold-text);
}
h3 {
	font-size: 24px;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	color: var(--bold-text);
}

.g__section-detail {
	font-size: 17px;
	font-weight: 400;
	color: var(--bold-text);
}

/* .post_title {
	color: #474747;
} */

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.ytp-chrome-top-buttons {
	display: none !important;
}

.g__body-container {
	max-width: 1024px;
	margin: 0 auto;
}

/* #c6c3c3 */

/* hero popup modal */

.active {
	border: 1px solid #cec6b1;
}

.center {
	position: absolute;
	right: 50%;
	transform: translate(50%, 0);
	/* background-color: #f1f1f1; */
	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid #c6c3c3;
	border-radius: 15px;
	/* padding: 20px 20px; */
}

.container {
	position: relative;
	/* width: 550px; */
	/* backdrop-filter: blur(25px); */
	/* padding: 3em 2.5em 2.5em 2.5em; */
	/* border-radius: 15px; */
	/* color: #ffffff; */
	/* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); */
}

.input_box {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 18px 0;
}

.input-field {
	width: 100%;
	height: 50px;
	font-size: 14px;
	background: transparent;
	/* color: #ffffff; */
	padding-inline: 20px 20px;
	border: 1px solid var(--bold-text);
	border-radius: 5px;
	outline: none;
	/* cursor: default; */
}
.input-field-area {
	width: 100%;
	font-size: 14px;
	background: transparent;
	/* color: #ffffff; */
	padding: 15px 50px 10px 20px;
	border: 1px solid var(--bold-text);
	border-radius: 5px;
	outline: none;
	/* cursor: default; */
}

.label {
	position: absolute;
	top: 13px;
	left: 20px;
	transition: 0.2s;
	color: #7a7a7a;
}

.input-field:focus ~ .label,
.input-field:not(:placeholder-shown) ~ .label,
.input-field-area:focus ~ .label,
.input-field-area:not(:placeholder-shown) ~ .label {
	position: absolute;
	top: -10px;
	left: 20px;
	font-size: 16px;
	background-color: #fcfcfc;
	/* border-radius: 30px; */
	color: var(--bold-text);
	padding: 0px 10px;
}

/* .popup {
	opacity: 0;
	top: -200%;
	transform: scale(0.2);
	transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.popup.activee {
	opacity: 1;
	top: 50%;
	transform: translate(50%, -50%) scale(1);
	transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
} */

/* -------------rocket top--------------- */

#Layer_1 {
	overflow: visible;
	width: 60px;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	z-index: 999;
}

.fire_active {
	opacity: 0;
}

.flameActive {
	opacity: 1;
	transform-box: fill-box;
	transform-origin: 50% 0;
	transform: scale(1);
	animation: rocketFlame 0.8s ease-in-out infinite;
}

.rocket-box:hover .fire_active {
	opacity: 1;
	transform-box: fill-box;
	transform-origin: 50% 0;
	transform: scale(1);
	animation: rocketFlame 0.8s ease-in-out infinite;
}

@keyframes rocketFlame {
	10%,
	90% {
		transform: scale(0.7, 0.6);
	}
	20%,
	80% {
		transform: scale(1);
	}
	30%,
	50%,
	70% {
		transform: scale(0.6, 0.4);
	}
	40%,
	60% {
		transform: scale(1.1, 1.3);
	}
}

.rocket-box:hover #ToTopRocket {
	/* fill: #247ba0; */
	animation: rocketShake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate;
	transform: translateZ(0);
}

@keyframes rocketShake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(1px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-2px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(2px, 0, 0);
	}
}

/* ------------NavBar Section------------------- */

.sidebar_shadow::after {
	content: "";
	height: 100%;
	width: 100vw;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: -300%;
	z-index: -1;
	opacity: 0.7;
}

.book_background {
	position: relative;
}

.book_background::after {
	content: "";
	background: url("/profile/book_bg.png") repeat center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	opacity: 0.4;
}

.like_anim {
	animation: like 0.5s ease-out;
}
@keyframes like {
	0% {
		transform: scale(1) rotate(0);
	}
	90% {
		transform: scale(1.3) rotate(-20deg);
	}
	100% {
		transform: scale(1.1) rotate(0);
	}
}

.custom-grayscale {
	filter: grayscale(1) !important; /* or any other desired filter */
}

.custom-grayscale:hover {
	filter: grayscale(0) !important;
}

/* ---------------testimonial font------------------- */

.testimonial_title {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.testimonial_description {
	font-family: "Bitter", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

/* ---------------swiper carusel------------------- */

.profileTabSlider .swiper-slide {
	width: fit-content !important;
	/* flex-shrink: inherit !important;  */
	/* display: flex !important; */
}

/* carousel for profile page card section */
/* ----------------------------------------- */

.mySwiper {
	padding: 0 15px 40px 5px !important;
	z-index: 1 !important;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

.mySwiper .swiper-wrapper {
	padding: 110px 0px 0px 0px;
	/* margin-left: -10px; */
}

.mySwiper .swiper-slide {
	height: auto !important;
}

.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {
	font-size: 18px !important;
	font-weight: 1000;
	color: #cec6b1;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
	height: 40px !important;
	width: 40px !important;
	border: 2px solid #cec6b1;
	border-radius: 50%;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
	top: 30px !important;
	bottom: inherit !important;
}

.mySwiper .swiper-button-prev {
	right: 80px !important;
	left: inherit !important;
	/* z-index: 999 !important; */
	/* transform: translateX(50%); */
}

.mySwiper .swiper-button-next {
	right: 10px !important;
}

.mySwiper .swiper-pagination {
	/* display: none; */
}
.mySwiper .swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
}

.mySwiper .swiper-pagination-bullet-active {
	background: #cec6b1 !important;
}

/* -----------testimonial swiper----------- */
.TestimonialSwiper {
	padding: 0 30px 20px 30px !important;
	z-index: 1 !important;
}

.TestimonialSwiper .swiper-wrapper {
	/* margin-left: -10px; */
}

.TestimonialSwiper .swiper-slide {
	/* height: auto !important; */
}

.TestimonialSwiper .swiper-button-prev:after,
.TestimonialSwiper .swiper-button-next:after {
	font-size: 18px !important;
	font-weight: 1000;
	color: #fff;
}

.TestimonialSwiper .swiper-button-prev,
.TestimonialSwiper .swiper-button-next {
	height: 40px !important;
	width: 40px !important;
	border-radius: 50%;
	background: #cec6b1;
}

.TestimonialSwiper .swiper-button-prev {
	top: 50% !important;
	/* left: -20px; */
	transform: translateY(calc(-100%));
}

.TestimonialSwiper .swiper-button-next {
	top: 50% !important;
	transform: translateY(calc(-100%));
}

.TestimonialSwiper .swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
}

.TestimonialSwiper .swiper-pagination-bullet-active {
	background: #b2a688 !important;
}
.TestimonialSwiper .swiper-button-disabled {
	display: none;
}

/* --------------mobile responsive----------------- */

@media only screen and (max-width: 640px) {
	.g__mobile-container {
	}

	.sidebar_shadow::after {
		display: none;
	}

	/* -----------contact form----------- */
	.input-field:focus ~ .label,
	.input-field:not(:placeholder-shown) ~ .label,
	.input-field-area:focus ~ .label,
	.input-field-area:not(:placeholder-shown) ~ .label {
		font-size: 15px;
	}

	.TestimonialSwiper {
		padding: 0 15px 20px 15px !important;
		z-index: 1 !important;
	}

	.TestimonialSwiper .swiper-button-prev {
		left: 0px;
	}

	.TestimonialSwiper .swiper-button-next {
		right: 0;
	}

	.TestimonialSwiper .swiper-button-prev,
	.TestimonialSwiper .swiper-button-next {
		height: 30px !important;
		width: 30px !important;
	}
	.TestimonialSwiper .swiper-button-prev:after,
	.TestimonialSwiper .swiper-button-next:after {
		font-size: 15px !important;
	}
}

@media only screen and (max-width: 768px) {
	.g__mobile-container {
		/* margin: 0 10px; */
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	.g__section-detail {
		/* font-size: 16px; */
	}

	/* ------------NavBar Section------------------- */

	/* ----------swiper section------------- */
	.mySwiper .swiper-wrapper {
		padding: 0px 0px 30px 0px;
		/* margin-left: -10px; */
	}
	.mySwiper .swiper-button-prev,
	.mySwiper .swiper-button-next {
		height: 35px !important;
		width: 35px !important;
	}
	.mySwiper .swiper-button-prev,
	.mySwiper .swiper-button-next {
		top: inherit !important;
		bottom: 0 !important;
		/* border: none; */
	}

	.mySwiper .swiper-button-prev {
		left: calc(100% - (50% + 90px)) !important;
		z-index: 999;
		/* transform: translateX(50%); */
	}

	.mySwiper .swiper-button-next {
		right: calc(100% - (50% + 90px)) !important;
		z-index: 999;
	}
	.mySwiper .swiper-button-prev:after,
	.mySwiper .swiper-button-next:after {
		font-size: 15px !important;
	}

	.mySwiper .swiper-pagination-bullet {
		width: 8px !important;
		height: 8px !important;
	}
	.mySwiper .swiper-pagination {
		display: inline-block;
		margin-bottom: 5px;
	}

	.mySwiper .swiper-pagination-bullet-active {
		background: #cec6b1 !important;
	}
}

@media only screen and (max-width: 1024px) {
	.sidebar_shadow::after {
		content: "";
		height: 100%;
		width: 100vw;
		background: rgb(255, 255, 255);
		position: absolute;
		top: 0;
		left: -100%;
		z-index: -1;
		opacity: 0.7;
	}
}

@media only screen and (max-width: 1280px) {
	#Layer_1 {
		width: 35px;
	}
}
