/* @import "../globals.css" ; */

.card {
	/* width: calc(300px / 1.5); */
	/* height: 300px; */
	/* position: relative; */
	max-width: 892px;
	/* height: 280px; */
	/* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2); */

	display: flex;
	gap: 30px;
	align-items: center;
	padding: 30px 40px;
	perspective: 2500px;
	background: #fbfffd20;
	/* box-shadow: 0px 4px 6px -1px rgb(0, 0, 0, 0.1); */
	border: 1px solid #00000010;
	transition: all 0.5s;
}

.cover_image {
	width: auto;
	height: 95px;
	object-fit: cover;
	opacity: 1;
	transition: all 0.5s;
}

.wrapper {
	transition: all 0.5s;
	position: relative;
	/* width: 100%; */
	/* z-index: -1; */
	width: 210px;
	height: 150px;
	background: #e9ebef80;
	border: 1px solid #00000010;
	/* padding: 15px; */
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .wrapper::before,
.wrapper::after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 80px;
	transition: all 0.5s;
	position: absolute;
	left: 0;
} */

/* .wrapper::before {
	top: 0;
	height: 100%;
	background-image: linear-gradient(to top, transparent 46%, rgb(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
} */

/* .wrapper::after {
	bottom: 0;
	opacity: 0;
	background-image: linear-gradient(to top, transparent 46%, rgb(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
} */

.title {
	/* width: 100%; */
	/* margin-top: 15px; */
	transition: transform 0.5s;
}

.character {
	width: 90%;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	transition: all 0.5s;
}

.card:hover {
	/* transform: perspective(900px) translateY(-5%) rotateX(5deg) translateZ(0); */
	box-shadow: 0px 5px 12px -4px rgb(0, 0, 0, 0.1);
}

.card:hover .cover_image {
	/* opacity: 0; */
	opacity: 1;
	/* transform: translate3d(0%, -25%, 200px); */
	animation: like 0.7s ease-out;
}

@keyframes like {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.card:hover .title {
	/* transform: translate3d(0%, -5%, 10px); */
}

.card:hover .wrapper {
	/* transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0); */
}

/* .card:hover .wrapper::after,
.wrapper::before {
	opacity: 1;
} */

/* .card:hover .wrapper::after {
	height: 100px;
} */

/* .card:hover .wrapper::before {
	opacity: 1;
} */

.card:hover .character {
	opacity: 1;
	/* transform: translate3d(0%, -30%, -100px); */
}

@media only screen and (max-width: 640px) {
	.card {
		flex-direction: column;
		gap: 20px;
		max-width: 640px;
		margin: auto;
		align-items: start;
		padding: 25px 20px;
	}

	.wrapper {
		width: 100%;
		height: 210px;
	}
	.cover_image {
		height: 150px;
	}
}
